body {
   background-image: url(https://hd.unsplash.com/photo-1432927994002-af88b5da76a2);
  background-repeat: no repeat;
  padding: 45px;
  color: white;
   }

h1 {
  font-size: 60px;
  padding: 30px;
 }

#city {
  font-size: 52px;
  margin: 45px;
}

#temp {
  font-size: 52px;
}

.weather a {
  font-size: 52px;
}

.weather a:hover {
  text-decoration: none;
}

#prec {
  font-size: 52px;
}

a:hover {
  text-decoration: none;
  cursor: pointer;
}
