body {
  background: lightgrey;
  padding: 45px;
}

h1 {
  font-size: 60px;
  padding: 30px;
}

#city {
  font-size: 52px;
  margin: 45px;
}

#temp {
  font-size: 52px;
}

.weather a {
  font-size: 52px;
}

.weather a:hover {
  text-decoration: none;
}

#prec {
  font-size: 52px;
}

a:hover {
  text-decoration: none;
  cursor: pointer;
}